body {
	font-family: "Helvetica", "Monaco", "Verdana", "Arial", sans-serif;
	color: black;
	background: #9AAAC0;
	padding: 0pt;
	margin: 0pt;
}

#shadow {
	padding: 0pt;
	margin: 0pt;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
}

#page {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2em;
	border-style: none;
}

#headerlogo {
	float: right;
	height: 5em;
	width: 5em;
}

#header {
	background: #697FA3 url("/img/bg_clouds.jpg") left repeat-x;	
	padding: 1.5em 1em 1.5em 1em;
	margin: 0pt;
	border-color: #0C5C9C;
	border-width: 1px;
	border-style: none solid none solid;
}

a:link {
	color: #397AB1;
}

a:visited {
	color: #0C5C9C;
}

a:hover {
	color: #8799B4;
}

#content p {
	text-indent: 2em;
}

#content p img.screenshot {
	width: 800px;
	float: none;
} 

#content p img {
	float: right;
	margin: 1em;
}

#content p img[alt=Logo] {
	height: 12em;
	width: 12em;
}

#content ul {
	margin-left: 2em;
}

#content {
	background: #EDF4FF;
	margin: 0pt;
	padding: 0 2em 2em 2em;
	border-width: 1px;
	border-color: #0C5C9C;
	border-style: dotted solid none solid;
}

#pagecontent {
	padding: 0;
	margin: 0;
}

#pagedate {
	text-align: right;
	font-style: italic;
	font-size: 80%;
	padding: 0;
	margin: 0;
}

#pageindex {
	margin: 0;
	padding: 0.5em 0 0.5em 0;
	font-size: 75%;
	text-align: right;
}

#pageindex .links {
	margin: 0;
	padding-left: 1em;
}

blockquote {
	color: #A38B5C;
	font-style: italic;
	border-style: none none none solid;
	border-width: 1pt;
	border-color: #0C5C9C;
	padding-left: 1em;
}

pre {
	margin-left: 4em;
}

#footer {
	padding: 1em 1em 1em 1em;
	border-style: dotted solid solid solid;
	border-color: #0C5C9C #0C5C9C #0C5C9C #0C5C9C;
	background: #C1D1EC;
	border-width: 1px 1px 1px 1px;
}
