<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" charset="utf-8"/>
		<title>Itadinanta - {{ page.title }}</title>
	</head>
	<body>
		<div id="header"><h1>{{ page.title }}</h1></div>
		<div id="content">{{ content }}</div>
		<div id="footer">
			&copy;
			2015 Nico Orru
			<span>nigu</span><span>&period;</span><span>orru</span><span>&commat;</span><span>gmail</span><span></span>&period;</span><span>com</span>
			All content is the author's personal and do not represent the author's employer's views.
		</div>
	</body>
</html>
